.divContent{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;    
    background-color: lightblue;
}
.imgStyle {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
  }
  .divBtnStyle{
    display: flex;
    margin: auto;
    padding-bottom: auto;
    width: 8rem;        
}

.btn-outline-success{
    color: white;
    background-color: orange;    
}

.divStyleRight{
    float: right;
    padding-right: 5rem;
}