ss3 {
    width: 10px;
    height: 10px;
    background-color: red;
    font-weight: bold;
    position: relative;
    -webkit-: mymove 3s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 3s infinite;
  }
  
  
  /* Standard syntax */
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}
  #div3 {animation-timing-function: ease-in;}
  #div4 {animation-timing-function: ease-out;}
  #div5 {animation-timing-function: ease-in-out;}
  
  
  /* Standard syntax */
  @keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
  }
  